/* General */

html { }

* { }

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  background-color: #0000FF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::webkit-scrollbar { display: none; }

/* Styling */

/* Design elements */

.page-wrapper { }
.frame { margin: auto;
  max-width: 800px;
  padding: 0 30px;
}
.full { width:100% }
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

/* About */

#about { border: 1px solid #fff; }
.info { }
