/* Fonts */
@font-face {
    font-family: CothamSans;
    src: url(../fonts/CothamSans.otf);
    font-weight: normal;
    font-style: normal
}

/* General */

html { }

* { }

body {
  /* font-family: 'Quicksand', sans-serif; */
  font-family: CothamSans;
  font-size: 24px;
  line-height: 28px;
  color: #0000ac;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::webkit-scrollbar { display: none; }

/* Styling */

/* Design elements */

.page-wrapper { }
.frame { margin: auto;
  max-width: 600px;
  padding: 0 30px;
}
.full { width:100% }
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

/* About */

#about { }
.info { }

/* Input */
.input-group { }
input {
  font-family: inherit;
  font-size: inherit;
  border: 2px solid;
}
input[type="email"] {
  width: 20rem;
  color: #0000ac;
  background: #FFF;
  padding: 0.1rem 0.25rem;
}
input[type="submit"] {
  color: #FFF;
  background: #0000ac;
  padding: 0.75rem 1rem 0.6rem;
  text-transform: uppercase;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  color: #0000ac;
  background: none;
}
