/* Fonts */
@font-face {
    font-family: CothamSans;
    src: url(../fonts/CothamSans.otf);
    font-weight: normal;
    font-style: normal
}

/* General */
html { font-size: 100% }
* { }
body {
  font-family: CothamSans;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #0000ac;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::webkit-scrollbar { display: none; }
/* Styling */

/* Design elements */
.page-wrapper { }
.frame { margin: auto;
  max-width: 600px;
  padding: 0 1.875rem;
}
.full { width:100% }
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

/* About */
#about { }
.info { }

/* Singup */
.input-group { }
.submit-button {
  cursor: pointer;
}
input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="email"] {
  width: 20rem;
  color: #0000ac;
  /* padding: 0.1rem 0.25rem; */
  padding: 0.75rem 1rem 0.6rem;
  margin-bottom: 1rem;
  border-bottom: 0.1em solid #0000ac;
}
input[type="email"]:focus {
  outline: none;
  color: #fff;
  background: #0000ac
}
input[type="submit"] {
  color: #0000ac;
  background: none;
  padding: 0.75rem 1rem 0.6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border: 0.1em solid #0000ac;
}
input[type="submit"]:focus,
input[type="submit"]:hover {
  color: #fff;
  background: #0000ac;
  border: 0.1em solid #0000ac;
}
