/* Fonts */
@font-face {
    font-family: CothamSans;
    src: url(../fonts/CothamSans.otf);
    font-weight: normal;
    font-style: normal
}

/* General */
}
html { font-size: 100% }
* { box-sizing: border-box; }
body {
  font-family: CothamSans;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #0000AF;
  background-color: #fff;
}
@media screen and (max-width: 375px) {
  body {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
svg,
img { display: block; }
::-webkit-scrollbar { display: none; }
::placeholder {
  color: #0000AF;
  opacity: 1;
  text-align: center;
}

/* Styling */
h1 { }
h2 { }
p { }
a,
a:hover,
a:active,
a:visited {
  color: #0000AF;
  text-decoration: none;
  outline: none;
  border-bottom: 0.1rem solid;
}

/* Design elements */
.page-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.frame {
  /*  margin: 0 auto; */
  max-width: 37.5rem;
  /*  padding: 1.875rem; */
}
.full { width:100% }
.center {
  text-align: center;
  margin: 0 auto;
}
.left { text-align: left; }
.right { text-align: right; }
.logo {
  display: block;
  max-width: 1.5rem;
}

/* About */
#content { }
.info { margin-top: 3rem; }
.footer { margin-top: 4.5rem; }
.social { display: none; }

/* Singup */
.submit-button { cursor: pointer; }
.input-group label { display: none; }
input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="email"] {
  width: 25rem;
  color: #0000AF;
  padding: 0.75rem .5rem 0.6rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #0000AF;
}
input[type="email"]:active,
input[type="email"]:focus {
  outline: none;
  color: #fff;
  background-color: #0000AF;
}
@media screen and (max-width: 375px) {
  input[type="email"] {
    width: 15rem;
  }
}
input[type="submit"] {
  color: #0000AF;
  background: none;
  padding: 0.75rem 1rem 0.6rem;
  margin-bottom: 1rem;
  border: 0.1rem solid #0000AF;
}
input[type="submit"]:focus,
input[type="submit"]:hover {
  color: #fff;
  background-color: #0000AF;
  border: 0.1rem solid #0000AF;
}
