/* Fonts */
@font-face {
    font-family: CothamSans;
    src: url(../fonts/CothamSans.otf);
    font-weight: normal;
    font-style: normal
}

/* General */
html { font-size: 100% }
* { box-sizing: border-box; }
body {
  font-family: CothamSans;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: .1rem;
  color: #0000af;
  background-color: #fff;
}
@media screen and (max-width: 414px) {
  body {
    font-size: .8125rem;
    line-height: 1rem;
  }
}
svg,
img { display: block; }
::-webkit-scrollbar { display: none; }
::placeholder {
  color: #0000af;
  text-align: center;
  opacity: 1;
}
iframe { display: none }

/* Styling */
a,
a:hover,
a:active,
a:visited {
  color: #0000af;
  text-decoration: none;
  border-bottom: .1rem solid;
  outline: none;
}

/* Design elements */
.frame {
  margin: 0 auto;
  max-width: 43.5rem;
  padding: 1.875rem;
}
.full { width: 100% }
.center {
  margin: 0 auto;
  text-align: center;
}
.left { text-align: left; }
.right { text-align: right; }
.logo {
  display: block;
  max-width: 2.25rem;
}

/* Content */
.info { margin-top: 3rem; }
.footer { margin-top: 4.5rem; }
.social { display: none; }

/* Singup */
.submit-button { cursor: pointer; }
.input-group label { display: none; }
input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="email"] {
  margin-bottom: 1rem;
  width: 25rem;
  padding: .75rem .5rem .6rem .5rem;
  font-family: CothamSans;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: .1rem;
  color: #0000af;
  text-align: center;
  border-bottom: .1rem solid #0000af;
}
input[type="email"]:active,
input[type="email"]:focus {
  color: #fff;
  background-color: #0000af;
  outline: none;
}
@media screen and (max-width: 414px) {
  input[type="email"] {
    font-size: .8125rem;
    line-height: 1rem;
    width: 15rem;
  }
}
input[type="submit"] {
  margin-bottom: 1rem;
  padding: .75rem 1rem .6rem 1rem;
  font-family: CothamSans;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: .1rem;
  color: #0000af;
  background: none;
  border: .1rem solid #0000af;
}
@media screen and (max-width: 414px) {
  input[type="submit"] {
    font-size: .8125rem;
    line-height: 1rem;
  }
}
input[type="submit"]:focus,
input[type="submit"]:hover {
  color: #fff;
  background-color: #0000af;
  border: .1rem solid #0000af;
}