@font-face {
    font-family: CothamSans;
    src: url('/fonts/CothamSans.woff2') format('woff2'),
         url('/fonts/CothamSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}